@model IEnumerable<WebJobHistoryViewModel>

<partial name="_WebJobSettingList" model = "ViewBag.WebJobSettingItems" />

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.StartTime)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Duration)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Status)
                        </th>

                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>

                            <td>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_HistoryDetailModal" />