@model WebJobDetailViewModel

<partial name="_WebJobSettingList" model="ViewBag.WebJobSettingItems" />

<h3>WebJob Run Details <small class="fs-6">@Model.Name</small></h3> 

<div class="alert alert-dark" role="alert">
    <b>@Model.Status</b> @Model.StartTime (@Model.Duration running time) <br />
    Run id: @Model.Id
</div>

<div class="mb-3">
    <label class="form-label">Log</label>
    <textarea class="form-control" rows="10">@Model.Log</textarea>
</div>