@model IEnumerable<WebJobListViewModel>

<partial name="_WebJobSettingList" model="ViewBag.WebJobSettingItems" />

@if (string.IsNullOrEmpty(TempData["Message"]?.ToString()) == false)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Message"]
    </div>
}

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Type)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Schedule)
                        </th>

                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Schedule)
                            </td>

                            <td>
                                <a asp-route="Excute@(item.Type)WebJob" asp-route-webjobsettingname="@ViewContext.RouteData.Values["WebJobSettingName"]" asp-route-webjobname="@item.Name" asp-route-type="@item.Type" class="btn btn-success">Excute</a>
                                <a asp-route="@(item.Type)WebJob" asp-route-webjobsettingname="@ViewContext.RouteData.Values["WebJobSettingName"]" asp-route-webjobname="@item.Name" class="btn btn-primary">Detail</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>